<!doctype html>
<html>
  <head>
    <title> <%shopName%> Bargain Price  </title>
  </head>
  <body>
        <h1> <%= shopName%> Book Price under £20 </h1>
<p> Here are books that we sell under £20 </p>
  <ul>
        <% for(let j = 0; j < availableBooks.length; j++) { %>
          <li><%= availableBooks[j].name %>
             £ <%= availableBooks[j].price%></li>
        <% } %>
  </ul>
</body>
</html>
